*{
    margin:0;
    padding:0;
    /*border:2px solid red*/;
    box-sizing: border-box;
}
#board{
    height:min(100vw,100vh);
    aspect-ratio:1 / 1;
    background-color: white;
    border:1px solid black;
}
.rank{
    display:flex;
    flex-direction:row;
    height:12.5%;
}
.rank:nth-child(2n+1) > .square:nth-child(2n+1){
    background-color:white;
    aspect-ratio:1 / 1; 
    width:12.5%;
}
.rank:nth-child(2n+1) > .square:nth-child(2n){
    background-color:#6E5C62;
    aspect-ratio:1 / 1; 
    width:12.5%;
}
.rank:nth-child(2n) > .square:nth-child(2n+1){
    background-color:#6E5C62;
    aspect-ratio:1 / 1; 
    width:12.5%;
}
.rank:nth-child(2n) > .square:nth-child(2n){
    background-color:white;
    aspect-ratio:1 / 1; 
    width:12.5%;
}
.square > img{
    width: 100%;
}
